:root {
  --color-background: #1f3d52;
  --var-color-text: #ffffff;
  --var-color-text-inverted: black;
  --var-color-text-train: #c953c9;
  --var-filter-img: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  --var-filter-white: invert(14%) sepia(59%) saturate(4183%) hue-rotate(353deg) brightness(90%) contrast(125%);
  --var-color-img: #00ee00;
  --var-color-popup: #1f3d52;
  --var-color-btn-hover: #140553;
  --var-color-overlay: gray;
}

body {
  margin-top: 0;
  color: var(--var-color-text);
  /* background-color: white; */
  background-color: var(--color-background);
  /* background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  ); */
  /* background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%); */
  /* background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */

  /* background: linear-gradient(150deg, #0093e9, #80d0c7); */
  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;
}

li {
  width: fit-content;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}
.color-transparent {
  /* border: dashed; */
  border: solid;
}
.color-yellow {
  /* border-style: dashed solid; */
  border-style: solid;
  background-color: rgb(236 236 0);
  color: black;
}
.color-green {
  border: solid;
  background-color: rgb(0 196 0);
}

.img-inline {
  width: 1rem;
  filter: var(--var-filter-img);
}

.border-inline {
  border-style: solid;
  border-color: var(--var-color-img);
  border-radius: 0.4rem;
  padding: 0.08rem;
}

/* Disable scolling */
/* html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
} */

button {
  background-color: transparent;
  border: none;
  color: var(--var-color-text);
}

.side-img,
.img-collapse-category,
.btn-next-prev {
  filter: var(--var-filter-img);
}

.img-edit-trash {
  filter: var(--var-filter-white);
}

p,
a {
  font-size: 1.2rem;
  color: var(--var-color-text);
  line-height: 1.7rem;
}

.group-container {
  display: none;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* margin-top: 30px; */
}

.collapse-container {
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  border-top: dotted;
  cursor: pointer;
}

.img-collapse-category {
  /* height: 1rem;
  align-content: center; */
  height: auto;
}

.category-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: start;
  flex-wrap: wrap;
}

.heading-category-name {
  display: flex;
  margin: 5px;
  align-items: center;
}

/* Selection */
.case-container {
  display: flex;
  /* display: none; */
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: flex-start; */
  align-items: center;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  max-width: 700px;
  border: solid;
  width: auto;
}

.case-number {
  /* align-items: center; */
  /* width: 40px; */
  width: auto;
  font-size: 1rem;
  text-align: center;
  margin-right: 0.5rem;
}

.img-case-container {
  display: flex;
  flex-shrink: 1;
  height: 100px;
  cursor: pointer;
}

.img-case {
  height: 100%;
}

.algorithm {
  flex-grow: 1;
  flex-shrink: 1;
  /* height: 110px; */
  height: 100%;
  display: flex;
  font-size: 1.4rem;
  text-align: center;
  vertical-align: middle;
  justify-content: flex-start;
  /* margin: auto; */
}

.case-container:hover .img-edit-trash {
  visibility: visible;
}

.img-edit-trash {
  visibility: hidden;
  cursor: pointer;
  width: 100%;
}

.div-algorithm {
  /* justify-content: center; */
  /* align-items: center; */
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: auto;
  margin-left: 10px;
}

/* Side Buttons */
#side-container {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  /* background-color: #2bff88; */
  padding: 5px;
  /* position: fixed;
  top: 0; */

  /* padding-bottom: 5px;
  border-bottom: solid; */
  /* display: none; */
  /* position: fixed;
  top: 0;
  left: 0; */
}

.side-button {
  cursor: pointer;
  padding: 5px;
  width: 40px;
  border-radius: 50%;
}

.side-img {
  width: 100%;
}

.btn-edit,
.btn-trash {
  flex-shrink: 0;
  margin: 5px;
  width: 20px;
}

#btn-settings-train {
  display: none;
}

/* Change Mode Button */
#change-mode {
  display: flex;
  /* position: fixed; */
  /* top: 10px;
  right: 10px; */
  font-size: 1rem;
  /* background: var(--var-color-text-train); */
  padding: 0.4rem;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  align-items: center;
  /* color: var(--var-color-text); */
  border: solid;
  border-color: var(--var-color-img);
}

#window-train {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-top: dotted;
}

/* Info container */
#overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100svh;
  background: var(--var-color-overlay);
  opacity: 40%;
  display: none;
}

/* #info-container {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background: #4158d0;
  border-radius: 20px;
  display: none;
} */

/* Trash */
/* #trash-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-height: 90%;
  max-width: 500px;
  padding: 20px;
  background: #4158d0;
  border-radius: 20px;
  overflow: auto;
  display: none;
} */

.popup-container {
  z-index: 3;
  position: fixed;
  padding: 20px;
  background: var(--var-color-popup);
  border-radius: 20px;
  overflow: auto;
  display: none;

  left: 0;
  right: 0;
  margin-inline: max(20px, 50svw - 600px/2);
  max-width: 600px;

  top: 10px;
  max-height: calc(100svh - 40px - 20px);
}

#loading-screen {
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.trash-element-container {
  display: flex;
  flex-direction: row;
}

.img-case-trash {
  width: 100%;
}

.img-container-trash {
  width: 100px;
  margin: 20px 0px;
  /* cursor: pointer; */
}

.case-number-trash {
  font-size: 2rem;
  margin: 20px 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

.btn-recover {
  border-radius: 10px;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

/* Edit Algoritm */
#editalg-container {
  display: none;
}

#editalg-text {
  font-size: 1.7rem;
  text-align: center;
}

#editalg-img-container {
  width: 110px;
  margin-bottom: 10px;
  margin: 0 auto;
}

#editalg-img {
  width: 100%;
}

.editalg-listentry {
  font-size: 1rem;
  text-align: center;
  border: solid;
  border-radius: 8px;
  margin: 5px 0px;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  cursor: pointer;
}

#editalg-customalg {
  color: var(--var-color-text);
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1rem;
  text-align: center;
}

#editalg-customalg::placeholder {
  color: rgb(255, 255, 255);
}

.update-cancal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-overlay {
  font-size: 1.3rem;
  background: transparent;
  color: var(--var-color-text);
  border: solid;
  border-color: var(--var-color-img);
  padding: 3px 15px;
  border-radius: 8px;
  margin: 0 3px;
}

/* Train Settings */
/* #div-algs-to-learn { */
.div-checkbox-container-container {
  display: flex;
  justify-content: space-between;
}

.div-centering {
  display: flex;
  justify-content: space-around;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.checkbox-container > h3 {
  margin-bottom: 1px;
}

#train-cases-container {
  display: none;
  flex-direction: column;
  max-width: 400px;
  margin-inline: max(20px, 50svw - 400px/2);
}

#train-cases-container > h2 {
  margin: 0px;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.checkbox__input {
  display: none;
}

.checkbox__box {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #cccccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s;
}

.checkbox__box::after {
  content: "\2714";
  color: white;
  transform: scale(0);
  transition: transform 0.15s;
}

.checkbox__input:checked + .checkbox__box {
  background: #2266dc;
  border-color: #2266dc;
}

.checkbox__input:checked + .checkbox__box::after {
  transform: scale(1);
}

/* Train cases */
/* #train-cases-container {
  display: block;
} */

#scramble-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
}

/* #scramble-container > * {
  display: flex;
} */

#scramble-container > img {
  width: 30px;
}

#scramble {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  text-align: center;
  margin: 5px;
}

.btn-next-prev {
  border-radius: 50%;
}

#div-hint-img {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#hint-img {
  width: 150px;
}

#hint {
  display: flex;
  justify-content: center;
  border: solid;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 1.5rem;
  width: min(90%, 400px);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
  border-color: var(--var-color-img);
}

#btn-next-scramble {
  width: 50px;
}
#btn-next-scramble:hover {
  cursor: pointer;
}

#select-group {
  font-size: 1rem;
  background-color: var(--color-background);
  border: solid;
  border-radius: 10px;
  border-color: var(--var-color-img);
  padding: 5px;
  color: var(--var-color-text);
}
#select-group option {
  background-color: var(--color-background);
}
#select-group:hover {
  background-color: var(--var-color-btn-hover);
}

#debug-info {
  display: none;
  font-size: 1rem;
}

#btn-show-hide-debug-info {
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  size: 50px;
  cursor: pointer;
  color: var(--var-color-text);
}
/* .side-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */
#change-mode:hover,
#change-mode:focus,
.side-button:hover,
.side-button:focus,
.btn-overlay:hover,
.btn-overlay:focus,
#hint:hover,
#hint:focus,
.btn-next-prev:hover,
.btn-next-prev:focus {
  /* background-color: var(--var-color-btn-hover); */
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: 0.2s ease;
}
.img-case-container:hover,
.img-case-container:focus,
.img-edit-trash:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  transition: 0.3s ease;
}

/* Media Query */
@media (max-width: 100em) {
  .img-case-container {
    height: 70px;
  }
  .algorithm {
    font-size: 1rem;
  }
  .btn-edit,
  .btn-trash {
    width: 15px;
  }
  .heading-category-name {
    font-size: 1rem;
  }
}
@media (min-width: 40em) {
  /* .all-alg-container {
    flex-direction: row;
  } */
  .category-container {
    flex-direction: row;
  }
  .case-container {
    width: fit-content;
  }
  #scramble {
    font-size: 3rem;
  }
  #hint-img {
    width: 200px;
  }
  #select-group {
    font-size: 1.5rem;
  }
  #hint {
    font-size: 2rem;
  }
  .editalg-listentry {
    font-size: 1.5rem;
  }
  #editalg-customalg {
    font-size: 1.5rem;
  }
  #change-mode {
    font-size: 1.5rem;
  }
}

@media (pointer: coarse) {
  .img-edit-trash {
    visibility: visible;
  }
}
