:root {
  --color-background: #1f3d52;
  --color-text: #ffffff;
  --color-text-inverted: black;
  /* --color-text-train: #c953c9; */
  --filter-img: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%)
    contrast(102%);
  --filter-black: brightness(0) saturate(100%) invert(0%) sepia(99%) saturate(40%) hue-rotate(77deg) brightness(100%)
    contrast(101%);
  --color-img: #00ee00;
  --color-popup: #1f3d52;
  --color-btn-hover: #140553;
  --color-overlay: gray;
  --color-unleaned: rgba(0, 0, 0, 0);
  --color-learning: rgb(236 236 0);
  --color-finished: rgb(0, 223, 0);
  --filter-learning: brightness(0) saturate(100%) invert(81%) sepia(53%) saturate(849%) hue-rotate(7deg)
    brightness(103%) contrast(100%);
  --filter-finished: brightness(0) saturate(100%) invert(52%) sepia(86%) saturate(3169%) hue-rotate(87deg)
    brightness(113%) contrast(117%);
}

body {
  height: 100dvh;
  margin: 0;
  color: var(--color-text);
  /* background-color: white; */
  background-color: var(--color-background);
  /* background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  ); */
  /* background-color: #4c4177;
  background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%); */
  /* background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */

  /* background: linear-gradient(150deg, #0093e9, #80d0c7); */
  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;
}

li,
.label-state {
  width: fit-content;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}
.color-transparent {
  /* border: dashed; */
  border: solid;
}
.color-yellow {
  /* border-style: dashed solid; */
  border-style: solid;
  background-color: var(--color-learning);
  color: var(--color-text-inverted);
}
.color-green {
  border: solid;
  background-color: var(--color-finished);
  color: var(--color-text-inverted);
}

.img-inline {
  width: 1rem;
  filter: var(--filter-img);
}

.border-inline {
  border-style: solid;
  border-color: var(--color-img);
  border-radius: 0.4rem;
  padding: 0.08rem;
}

/* Disable scolling */
/* html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
} */

button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.side-img,
.img-collapse-category,
.btn-next-prev {
  filter: var(--filter-img);
}

.img-edit-trash {
  filter: var(--filter-white);
}

p,
a {
  font-size: 1.2rem;
  color: var(--color-text);
  line-height: 1.7rem;
}

.group-container {
  display: none;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* margin-top: 30px; */
}

.collapse-container {
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  border-top: dotted;
  /* cursor: pointer; */
  /* background-color: var(--color-background);
  opacity: 100%;
  z-index: 1; */
}

.img-collapse-category {
  /* height: 1rem;
  align-content: center; */
  /* height: auto; */
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 300ms;
}

.category-container {
  /* display: flex; */
  display: block;
  flex-direction: column;
  flex-grow: 0;
  justify-content: start;
  flex-wrap: wrap;
  /* transition: transform 300ms; */
}

.heading-category-name {
  display: flex;
  margin: 5px;
  margin-right: auto;
  align-items: center;
  cursor: pointer;
}

/* Selection */
.case-container {
  display: flex;
  /* display: none; */
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: flex-start; */
  align-items: center;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  max-width: 700px;
  border: solid;
  width: auto;
}

.case-number {
  /* align-items: center; */
  /* width: 40px; */
  width: auto;
  font-size: 1rem;
  text-align: center;
  margin-right: 0.5rem;
}

.img-case-container {
  display: flex;
  flex-shrink: 1;
  height: 100px;
  cursor: pointer;
}

.img-case {
  height: 100%;
  width: 100%;
  /* height: 98px; */
}

.algorithm {
  flex-grow: 1;
  flex-shrink: 1;
  /* height: 110px; */
  height: 100%;
  display: flex;
  font-size: 1.4rem;
  text-align: center;
  vertical-align: middle;
  justify-content: flex-start;
  /* margin: auto; */
}

.case-container:hover .img-edit-trash {
  visibility: visible;
}

.img-edit-trash {
  /* width: 100%; */
  height: 24px;
  visibility: hidden;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

.div-algorithm {
  /* justify-content: center; */
  /* align-items: center; */
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: auto;
  margin-left: 6px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Side Buttons */
#side-container {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  /* position: sticky; */
  top: 0;
  background-color: var(--color-background);
  /* background-color: #2bff88; */
  padding: 5px;
  /* position: fixed;
  top: 0; */

  /* padding-bottom: 5px;
  border-bottom: solid; */
  /* display: none; */
  /* position: fixed;
  top: 0;
  left: 0; */
}

.side-button {
  cursor: pointer;
  padding: 5px;
  width: 40px;
  border-radius: 50%;
}

.side-img {
  width: 100%;
  height: 100%;
}

.btn-edit,
.btn-trash {
  flex-shrink: 0;
  margin: 5px;
  width: 20px;
}

.btn-settings-train {
  display: inline-block;
  width: 40px;
  margin: auto;
}

/* Change Mode Button */
#change-mode {
  margin-left: auto;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  align-items: center;
  border: solid;
  border-color: var(--color-img);
}

.window-train {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-top: dotted;
}

#overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100lvh;
  background: var(--color-overlay);
  opacity: 40%;
  display: none;
  cursor: pointer;
}

/* #info-container {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background: #4158d0;
  border-radius: 20px;
  display: none;
} */

/* Trash */
/* #trash-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-height: 90%;
  max-width: 500px;
  padding: 20px;
  background: #4158d0;
  border-radius: 20px;
  overflow: auto;
  display: none;
} */

* {
  box-sizing: border-box;
}

.popup-container {
  /* z-index: 3; */
  /* position: fixed; */
  padding: 20px;
  background: var(--color-popup);
  border-radius: 20px;
  color: var(--color-text);
  border: none;
  max-width: 600px;
  /* box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
  /* overflow: auto; */
  /* display: none; */

  /* left: 0; */
  /* right: 0; */
  /* margin-inline: max(20px, 50svw - 600px/2); */
  /* max-width: 600px; */

  /* min-width: min(90dvw, 350px); */

  /* top: 10px; */
  /* max-height: calc(100svh - 40px - 20px); */

  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.popup-container::backdrop {
  background-color: grey;
  opacity: 50%;
  /* backdrop-filter: blur(10px); */
}

#loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--color-background);
  z-index: 999;
  /* width: 100dvw;
  height: 100dvh; */
}

/* #popup-change-state {
  
} */

.radio-state {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  transform: scale(2);
}

.label-state {
  font-size: 1.5rem;
  border-radius: 0.7rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

#loading-screen {
  display: block;
  top: 0;
  left: 0;
  height: 100lvh;
  width: 100lvw;
  max-width: 100lvw;
  max-height: 100lvh;
  margin: 0;
  padding: 0;
}

.trash-element-container {
  display: flex;
  flex-direction: row;
}

.img-case-trash {
  width: 100%;
}

.img-container-trash {
  width: 100px;
  margin: 20px 0px;
  /* cursor: pointer; */
}

.case-number-trash {
  font-size: 2rem;
  margin: 20px 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

.btn-recover {
  border-radius: 10px;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

/* Edit Algoritm */
#editalg-container {
  /* display: none; */
}

#editalg-text {
  font-size: 1.7rem;
  text-align: center;
}

#editalg-img-container {
  width: 110px;
  margin-bottom: 10px;
  margin: 0 auto;
}

#editalg-img {
  width: 100%;
}

.editalg-listentry {
  font-size: 1rem;
  text-align: center;
  border: solid;
  border-radius: 8px;
  margin: 5px 0px;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  cursor: pointer;
}

#editalg-customalg {
  color: var(--color-text);
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1rem;
  text-align: center;
}

#editalg-customalg::placeholder {
  color: rgb(255, 255, 255);
}

.update-cancel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-overlay {
  font-size: 1.3rem;
  background: transparent;
  color: var(--color-text);
  border: solid;
  border-color: var(--color-img);
  padding: 3px 15px;
  border-radius: 8px;
  margin: 0 3px;
  cursor: pointer;
}

/* Train Settings */
/* #div-algs-to-learn { */
.div-checkbox-container-container {
  display: flex;
  justify-content: space-between;
}

.div-centering {
  display: flex;
  justify-content: space-around;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.checkbox-container > h3 {
  margin-bottom: 1px;
}

#train-cases-container {
  /* display: none;
  flex-direction: column;
  max-width: 400px;
  margin-inline: max(20px, 50svw - 400px/2); */
}

#train-cases-container > h2 {
  margin: 0px;
}

.checkbox {
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.checkbox-learning {
  background-color: var(--color-learning);
  color: var(--color-text-inverted);
}
.checkbox-finished {
  background-color: var(--color-finished);
  color: var(--color-text-inverted);
}

.checkbox__input {
  display: none;
}

.checkbox__box {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #cccccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s;
}

.checkbox__box_learning {
  /* border-color: var(--color-text-inverted); */
  background-color: var(--color-background);
}
.checkbox__box_finished {
  /* border-color: var(--color-text-inverted); */
  background-color: var(--color-background);
}

.checkbox__box::after {
  content: "\2714";
  color: white;
  transform: scale(0);
  transition: transform 0.15s;
}

.checkbox__input:checked + .checkbox__box {
  background: #2266dc;
  border-color: #2266dc;
}

.checkbox__input:checked + .checkbox__box::after {
  transform: scale(1);
}

/* Train cases */
/* #train-cases-container {
  display: block;
} */

#scramble-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
}

/* #scramble-container > * {
  display: flex;
} */

#scramble-container > img {
  width: 30px;
}

#scramble {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  text-align: center;
  margin: 5px;
}

.btn-next-prev {
  border-radius: 50%;
}

#div-hint-img {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

#hint-img {
  width: 150px;
}

#loading-case {
  /* width: 32px;
  height: 32px; */
  position: absolute;
  /* left: 59px;
  top: 63; */
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

#hint {
  display: flex;
  justify-content: center;
  border: solid;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 1.5rem;
  width: min(90%, 400px);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
  border-color: var(--color-img);
}

#btn-next-scramble {
  width: 50px;
}
#btn-next-scramble:hover {
  cursor: pointer;
}

.select-group {
  font-size: 1rem;
  background-color: var(--color-background);
  border: solid;
  border-radius: 10px;
  border-color: var(--color-img);
  padding: 5px;
  color: var(--color-text);
}
.select-group option {
  background-color: var(--color-background);
}
.select-group:hover {
  background-color: var(--color-btn-hover);
}

.animation-blink {
  animation: blinker 800ms linear infinite;
}
@keyframes blinker {
  50% {
    background-color: white;
    color: black;
  }
}

#debug-info {
  display: none;
  font-size: 1rem;
}

#btn-show-hide-debug-info {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  size: 50px;
  cursor: pointer;
  color: var(--color-text);
}
/* .side-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */

#btn-change-state {
  cursor: pointer;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-style: solid;
  border-radius: 0.6rem;
  border-color: var(--color-img);
}

.editalg-listentry:hover,
#btn-change-state:hover,
#change-mode:hover,
#change-mode:focus,
.side-button:hover,
.side-button:focus,
.btn-overlay:hover,
.btn-overlay:focus,
#hint:hover,
#hint:focus,
.btn-next-prev:hover,
.btn-next-prev:focus {
  /* background-color: var(--color-btn-hover); */
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: 0.2s ease;
}
.img-case-container:hover,
.img-case-container:focus,
.img-edit-trash:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  transition: 0.3s ease;
}

.rotate-arrow {
  transform: rotate(90deg);
}

.acessibility-label {
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.container-select-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 2rem;
  margin: 1rem;
}

.btn-change-learing-state {
  display: flex;
  align-items: center;
  /* height: calc(1rem + 2 * 5px - 2 * 2px); */
  height: 1.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2em;
  /* margin-top: 2px;
  margin-bottom: 2px; */
  margin-top: auto;
  margin-bottom: auto;
  /* margin: 5px 3px 5px 3px; */
  cursor: pointer;
}

.filter-unlearned {
  filter: var(--filter-white);
}
.filter-learning {
  filter: var(--filter-learning);
}
.filter-finished {
  filter: var(--filter-finished);
}

.loader {
  display: flex;
  width: 32px;
  height: 32px;
  margin: auto;
  position: relative;
  top: 0px;
  left: 0px;
}
.loader:before {
  content: "";
  width: 32px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 42px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

/* -------------------------------------------------------------- */

/* Media Query */
@media (max-width: 100em) {
  .img-case-container {
    height: 70px;
  }
  .algorithm {
    font-size: 1rem;
  }
  .btn-edit,
  .btn-trash {
    width: 15px;
  }
  .heading-category-name {
    font-size: 1rem;
  }
  /* .img-case {
    height: 68px;
  } */
  .img-collapse-category {
    height: 25px;
    width: 25px;
  }
  .img-edit-trash {
    /* height: 18px; */
    height: 20px;
  }
}
@media (min-width: 40em) {
  .category-container {
    display: flex;
    flex-direction: row;
  }
  .case-container {
    width: fit-content;
  }
  #scramble {
    font-size: 3rem;
  }
  #hint-img {
    width: 200px;
  }
  .select-group {
    font-size: 1.5rem;
  }
  #hint {
    font-size: 2rem;
  }
  .editalg-listentry {
    font-size: 1.5rem;
  }
  #editalg-customalg {
    font-size: 1.5rem;
  }
  #change-mode {
    font-size: 1.5rem;
  }
  .container-select-group {
    flex-direction: row;
  }
  .acessibility-label {
    font-size: 1.2rem;
  }
  .loader {
    width: 48px;
    height: 48px;
  }
  .loader:before {
    width: 48px;
    top: 60px;
  }
  .heading-category-name {
    margin-right: 5px;
  }
}

@media (pointer: coarse) {
  .img-edit-trash {
    visibility: visible;
  }
}

/* --- Keep at the end of .css file --- */
.display-none {
  display: none;
}
